<nav class="navbar navbar-light bg-light w-80" id="navbar">
    <div class="container">
        <div class="col-4">
            <a class="text-dark fs-3 mx-0 mb-0 text-decoration-none" href="#">
                <i class="bi bi-list align-text-top"></i>
            </a>

            <a class="text-dark fs-3 ms-3 text-decoration-none" href="./">
                <img
                    src="./images/logo.svg"
                    alt="Laredoute logo"
                    class="align-text-bottom"
                    style="margin-bottom: 0.08em"
                />
            </a>
        </div>
        <div class="col-4 mx-auto">
            <div class="input-group w-100">
                <input
                    type="text"
                    class="form-control search-radius-left"
                    aria-labelledby="search-addon"
                />
                <span class="input-group-text search-radius-right bg-white" id="search-addon"
                    ><i class="bi bi-search"></i
                ></span>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a href="#" class="text-dark fs-3 d-inline px-2"><i class="bi bi-person"></i></a>
            <a href="#" class="text-dark fs-4 d-inline px-2 align-self-center"
                ><i class="bi bi-heart"></i
            ></a>
            <a href="#" class="text-dark fs-4 d-inline px-2"><i class="bi bi-bag"></i></a>
        </div>
    </div>
</nav>
