<div class="col produto-in-grid">
    <div class="card shadow-sm">
        <img class="card-img-top" src="./images/products/polo1.jpg" alt="polo1" />
        <div class="card-body">
            <p class="card-brand">La Redoute</p>
            <p class="card-title">Polo de mangas curtas às riscas, em algodão bio</p>
            <span class="price">
                <span class="card-price">18,60€</span>
                &nbsp;
                <s class="card-discount">31,00€</s>
            </span>
        </div>
    </div>
</div>
